.carousel-image-container {
    height: 70vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.movie-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}