

.movie-card {
    color: white;
    position: relative;
    height: 25dvh;
    width: 20dvw;
    margin: 10px;
    overflow: hidden;
    padding: 0px !important;
}

.card-body {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}